//
   Created by Benny on 26/03/16.

extends layout

block content
    h1.
        Estacion #{stationName}

    each stationDateTime, i in dataDateTime
        = stationDateTime
        br
        each sensor, j in stationSensors[i]
            = j + ": " + sensor
            br
        br
        br