//
   Created by Benny on 26/03/16.

extends layout

block content
    h1.
        Estacion #{stationName}

    each stationDateTime, i in dataDateTime
       p
          b
           = stationDateTime
       table
            tr
                th Sensor
                th Value
            each sensor, j in stationSensors[i]
               tr
                    td
                        = j
                    td
                        = sensor
       hr